<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Vinos y Licores Liquor Store te ofrece la mas alta calidad y variedad en productos seleccionados hasta la comunidad de tu hogar. .</p>
    </div>
</section>