<div class="jumbotron mt-4 justify-center   ">
    <img src="https://res.cloudinary.com/dmxhsnbx6/image/upload/v1701789837/images_p8netz.jpg" alt="" width="350px" class="rounded mx-auto d-block">
   
alt="Cheetah!" />
</div>  